.petal {
    position: absolute;
    top: -50px;
    width: 20px;
    height: 20px;
    opacity: 0.8;
    z-index: 0;
    pointer-events: none;
    background-size: contain;
    background-repeat: no-repeat;
    animation: fall linear infinite, sway ease-in-out infinite alternate;
}

/* Realistic Rose Petal (Curved, Deep Red) */
.petal.rose {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath d='M15 0C8 0 2 5 2 12c0 5 6 10 13 18c7-8 13-13 13-18C28 5 22 0 15 0z' fill='%23C00000' opacity='0.8'/%3E%3C/svg%3E");
    width: 20px;
    height: 25px;
}

/* Realistic Cherry Blossom (Notched, Soft Pink) */
.petal.cherry {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath d='M15 5c-3-3-8-4-11-1C1 7 4 12 9 15c-5 3-8 8-5 11c3 3 8 2 11-1c3 3 8 4 11 1c3-3 0-8-5-11c5-3 8-8 5-11c-3-3-8-2-11 1z' fill='%23FFBBC1' opacity='0.9'/%3E%3C/svg%3E");
    width: 18px;
    height: 18px;
}

@keyframes fall {
    0% {
        top: -50px;
        transform: rotate(0deg);
    }
    100% {
        top: 100vh;
        transform: rotate(360deg);
    }
}

@keyframes sway {
    0% {
        margin-left: 0;
    }
    100% {
        margin-left: 50px;
    }
}
